<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InventoryManager.Properties.Settings.stiinventoryConnectionString"
            connectionString="Data Source=den1.mssql4.gear.host;Initial Catalog=stiinventory;Persist Security Info=True;User ID=stiinventory;Password=Freedom294238!@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>